---
docker_dependencies:
  - apt-transport-https
  - ca-certificates
  - curl
  - gnupg-agent
  - software-properties-common

docker_packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io

docker_compose_version: 2.38.2
docker_compose_url: https://github.com/docker/compose/releases/download/v{{ docker_compose_version }}/docker-compose-{{ ansible_system }}-{{ ansible_machine }}

# docker_daemon_config_json: |
#   {"bridge": "none", "ip-forward": false, "iptables": false}
docker_daemon_config_json: ""
