##
# {{ ansible_managed }}
#
{% if item.not_requiretty | default (False) %}
Defaults:%sudo !requiretty
{% endif %}
{% if item.commands is string %}
{% set commands = [item.commands] %}
{% else %}
{% set commands = item.commands %}
{% endif %}
{% for cmd in commands %}
{{ item.user }}  {{ item.runas }}  {{ cmd }}
{% endfor %}
