{% for name, config in mysqld_exporter_client_auth_modules.items() %}
{% if name %}
[client.{{ name }}]
{% else %}
[client]
{% endif %}
{% for key, value in config.items() %}
{{ key }} = {{ value }}
{% endfor %}

{% endfor %}
