---
services:
  alertmanager:
    container_name: alertmanager
    image: {{ alertmanager_image }}
    command:
    - --web.listen-address={{ alertmanager_web_listen_address }}
    - --config.file=/config.yaml
    - --storage.path=/var/lib/alertmanager
    - --cluster.listen-address=
{% for arg in alertmanager_extra_args %}
    - {{ arg }}
{% endfor %}
    network_mode: host
    restart: always
    user: "{{ alertmanager_run_as_user }}"
    volumes:
      - ./config.yaml:/config.yaml:ro
      - ./data:/var/lib/alertmanager
