---
netdata_add_repository_script: https://packagecloud.io/install/repositories/netdata/netdata/script.deb.sh

netdata_conf: |
  [global]
    bind socket to IP = localhost

# enable Slack notifications
netdata_slack_notifications_enabled: false
netdata_slack_webhook_url: "https://hooks.slack.com/services/AAAAAAAA/BBBBBBBB/CCCCCCCCCCCCCCCCCCCCCC"
netdata_slack_webhook_recepient: "#channel-name"
