{% if slack_notifications_enabled %}

SEND_SLACK="YES"
SLACK_WEBHOOK_URL="{{ slack_webhook_url }}"
DEFAULT_RECIPIENT_SLACK="{{ slack_webhook_recepient }}"

role_recipients_slack[sysadmin]="${DEFAULT_RECIPIENT_SLACK}"
role_recipients_slack[domainadmin]="${DEFAULT_RECIPIENT_SLACK}"
role_recipients_slack[dba]="${DEFAULT_RECIPIENT_SLACK}"
role_recipients_slack[webmaster]="${DEFAULT_RECIPIENT_SLACK}"
role_recipients_slack[proxyadmin]="${DEFAULT_RECIPIENT_SLACK}"
role_recipients_slack[sitemgr]="${DEFAULT_RECIPIENT_SLACK}"

{% endif %}
