## {{ ansible_managed }}

{% if vfio_pci_grub_enable_intel_iommu %}
# vfio_pci_enable_intel_iommu
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX intel_iommu=on kvm.ignore_msrs=1 video=efifb:off"
{% endif %}
{% if vfio_pci_device_ids != "" %}
# vfio_pci_device_ids = {{ vfio_pci_device_ids }}
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX vfio-pci.ids={{ vfio_pci_device_ids }}"
{% endif %}
