#!/bin/sh

# managed by Ansible

iptables -I INPUT 1 -i {{ wireguard_interface }} -j ACCEPT
iptables -I INPUT 1 -p udp --dport {{ wireguard_port }} -j ACCEPT

{% for network in wireguard_peers[inventory_hostname]['networks'] %}

iptables -t nat -I POSTROUTING 1 -s "{{ wireguard_peers[inventory_hostname]['ip'] }}/{{ wireguard_subnet_size }}" -d "{{ network }}" -j MASQUERADE
{#
    TODO(neoaggelos): forward rules from wireguard to host interface, e.g.

    iptables -I FORWARD 1 -i $NIC -o wg0 -j ACCEPT
    iptables -I FORWARD 1 -i wg0 -o $NIC -j ACCEPT
#}

{% endfor %}
